.ul_container  > li:hover > ul {
    top: 100%; }
.ul_container  > li > ul {
    padding: 11px 3px 0;
    top: 80%;
    background-color: white; }
.ul_container > li > ul li:hover ul {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    visibility: visible;
    display: block; }
.ul_container > li > ul li ul {
    left: 100%; }
.ul_container  > li > a {
    padding: 14px 15px 17px; }
.ul_container > li > a:hover {
    color: #1abc9c; }
.ul_container  li {
    position: relative; }
.ul_container  li:hover > ul {
    opacity: 1;
    z-index: 100;
    -webkit-transform: scale(1, 1);
    visibility: visible;
    display: block; }
.ul_container  ul {
    border-radius: 4px;
    left: 0;
    list-style-type: none;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 180px;
    z-index: -100;
    -webkit-transform: scale(1, 0.99);
    -webkit-transform-origin: 0 0;
    visibility: hidden;
    display: none;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-backface-visibility: hidden; }
.ul_container  ul ul {
    left: 95%;
    padding-left: 5px; }
.ul_container  ul li {
    background-color: #34495e;
    padding: 0 3px 3px; }
.ul_container  ul li:first-child {
    border-radius: 4px 4px 0 0;
    padding-top: 3px; }
.ul_container  ul li:last-child {
    border-radius: 0 0 4px 4px; }
.ul_container  ul li.active > a, .ul_container  ul li.active > a:hover {
    background-color: #1abc9c;
    color: white; }
.ul_container  ul a {
    border-radius: 2px;
    color: white;
    display: block;
    font-size: 14px;
    padding: 6px 9px;
    text-decoration: none; }
.ul_container  ul a:hover {
    background-color: #1abc9c; }
.ul_container{
    cursor: pointer;
}