.chart{margin-left:10%; }
.right-icon{ margin-top: 5px;  margin-left: 10px;  width: 35px;  height: 35px;}
.self_right_icon{margin: 10px 0px;}
.self_right_icon_text{margin-left: 20px; font-family: 'noto-thin';font-weight: 300}